
<% include ../partials/header %>

<div class="container text-center">
    <img src="<%=campground.imageUrl%>">
    <h1><%=campground.name%></h1>
    <p><%=campground.description%></p>

    <hr>
    <h3>Comments</h3>
    <% campground.comments.forEach((comment) => { %>
        <p><strong><%= comment.author %></strong> - <%= comment.text %></p>
    <% }); %>
</div>

<% include ../partials/footer %>